@model DVD_Shop.Models.Album


@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit</h1>

<h4 class="text-white">Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlbumId" />
            <div class="form-group text-white">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group text-white">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group text-white">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-white">
                <label asp-for="APrice" class="control-label"></label>
                <input asp-for="APrice" class="form-control" />
                <span asp-validation-for="APrice" class="text-danger"></span>
            </div>
            <div class="form-group text-white">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" name="img" class="form-control">
                @*<input type="file" name="img" class="form-control" />*@
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="CategoryId" class="control-label text-white">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
