@model DVD_Shop.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit-Movie</h1>

<hr />
<div class="row text-white">
    <div class="col-md-4">
        @*<form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                <label asp-for="mTitle" class="control-label"></label>
                <input asp-for="mTitle" class="form-control" />
                <span asp-validation-for="mTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mDescription" class="control-label"></label>
                <input asp-for="mDescription" class="form-control" />
                <span asp-validation-for="mDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input asp-for="CoverImage" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerPath" class="control-label"></label>
                <input asp-for="TrailerPath" class="form-control" />
                <span asp-validation-for="TrailerPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label"></label>
                <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId"></select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>*@
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                <label asp-for="mTitle" class="control-label">Movie</label>
                <input asp-for="mTitle" class="form-control" />
                <span asp-validation-for="mTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Release date</label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mDescription" class="control-label">Despriction</label>
                <input asp-for="mDescription" class="form-control" />
                <span asp-validation-for="mDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CoverImage" class="control-label">Image</label>
                <input type="file" name="img" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>*@
                <label asp-for="CoverImage" class="control-label">Image</label>
                <input asp-for="CoverImage" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="TrailerPath" class="control-label">Trailer</label>
                <input type="file" name="video" class="form-control" />
                <span asp-validation-for="TrailerPath" class="text-danger"></span>*@
                <label asp-for="TrailerPath" class="control-label">Trailer</label>
                <input asp-for="TrailerPath" class="form-control" />
                <span asp-validation-for="TrailerPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label">Album</label>
                <select asp-for="AlbumId" class="form-control " asp-items="ViewBag.AlbumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label">Artist</label>
                <select asp-for="ArtistId" class="form-control " asp-items="ViewBag.ArtistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label">Genre</label>
                <select asp-for="GenreId" class="form-control " asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
